{% macro breadcrumbs() %}
  {% set current = section | default(value=page) %}
  {% for ancestor in current.ancestors %}
    {% if loop.last %}
      {% set current_section = get_section(path = ancestor) %}
    {% endif %}
  {% endfor %}
    <a href="/">Home</a>
    {% for ancestor in current.ancestors %}
      {% if loop.first %}
        {% continue %}
      {% endif %}
      <span>/</span>
      {% set section = get_section(path=ancestor) %}
      <a href="{{ section.permalink }}">{{ section.title }}</a>
    {% endfor %}
    <span>/</span>
    <a href="{{ current.permalink }}">{{ current.title }}</a>
  </app-breadcrumbs>
{% endmacro %}