<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if page.description %}
            <meta name="description" content="{{ page.description | safe }}" />
        {% endif %}
        {% if page.extra.canonical %}
            <link rel="canonical" href="{{ get_url(path=page.extra.canonical) }}" />
        {% else %}
            <link rel="canonical" href="{{ current_url }}" />
        {% endif %}
        <title>
            {% block title %}
              {{ config.title }}
            {% endblock title %}
        </title>        
        <link rel="stylesheet"
            href="{{ get_url(path='app.css', trailing_slash=false) }}"/>
    </head>

    <body>
        <section class="section">
            <div class="container">
                {% block content %} {% endblock %}
            </div>
        </section>
    </body>
</html>